<duckrulz-info-card
  [title]="infosTitle"
  [descriptions]="infoDescriptions"
></duckrulz-info-card>

<br />

<h3>J'identifie ce que la situation produit comme émotions :</h3>

<form [formGroup]="form" (ngSubmit)="onNextClicked()">
  <div
    formArrayName="emotions"
    *ngFor="let order of emotionsFormArray().controls; let i = index"
  >
    <mat-checkbox [formControlName]="i">{{ emotionsData[i] }}</mat-checkbox>
  </div>

  <br />

  <duckrulz-steps-buttons
    (previousButtonClicked)="onPrevClicked()"
  ></duckrulz-steps-buttons>
</form>
