<h2>Historique</h2>

<div *ngIf="events.length === 0; then noEventsBlock; else eventsBlock"></div>
<ng-template #noEventsBlock>
  <p id="list-events-empty-label">No events recorded yet.</p>
</ng-template>
<ng-template #eventsBlock>
  <mat-list id="events-list">
    @for (event of events; track event) {
    <mat-list-item id="event-{{ $index }}" lines="3">
      <mat-icon matListItemIcon
        >@if (event.type === EventViewModelType.ANXIETY){offline_bolt} @else {
        mood_bad }</mat-icon
      >
      <span matListItemTitle>{{ event.type }}</span>
      <span matListItemLine *ngIf="event.thoughts.length > 0">{{
        event.thoughts
      }}</span>
      <span matListItemLine
        >{{ event.date | date : "d MMM yyyy ' à ' HH:mm" }}
      </span>
    </mat-list-item>
    <mat-divider> </mat-divider>
    }
  </mat-list>
</ng-template>
