<mat-card>
  <mat-card-content>
    <strong>Attention :</strong> cet outil ne remplace pas une consultation avec
    un professionnel
  </mat-card-content>
</mat-card>
<p></p>

<h2>Objectifs de cet outil :</h2>
<ul>
  <li>Vous aider ponctuellement à traverser une situation difficile</li>
  <li>
    Vous permettre de mieux vous connaître au travers d'un exercice
    d'introspection, afin de diminuer l’intensité, la fréquence et la durée de
    potentielles futures situations similaires
  </li>
  <li>
    Produire des analyses pouvant servir de support lors d’un travail
    thérapeutique avec un professionnel
  </li>
</ul>

<button mat-raised-button color="primary" (click)="onBeginClicked()">
  Je commence
</button>
