<p>
  <strong
    >Attention : cet outil ne remplace pas une consultation avec un
    professionnel.</strong
  >
</p>

<p>Objectifs :</p>
<ul>
  <li>Vous aider ponctuellement à traverser une situation difficile</li>
  <li>
    Mieux vous connaître afin de diminuer l’intensité, la fréquence et la durée
    de potentielles futures situations similaires
  </li>
  <li>
    Produire des analyses pour vous aider lors d’un travail thérapeutique avec
    un professionnel
  </li>
</ul>

<button type="button" (click)="onBeginClicked()">Je commence</button>
