<duckrulz-info-card
  [title]="infosTitle"
  [descriptions]="infoDescriptions"
  [examples]="infoExamples"
></duckrulz-info-card>

<br />

<h3>J'identifie les signes physiologiques induits par la situation :</h3>

<form [formGroup]="form" (ngSubmit)="onNextClicked()">
  <div
    formArrayName="physicalSymptoms"
    *ngFor="let order of physicalSymptomsFormArray().controls; let i = index"
  >
    <mat-checkbox [formControlName]="i">{{
      physicalSymptomsData[i]
    }}</mat-checkbox>
  </div>

  <br />

  <duckrulz-steps-buttons
    hidePreviousButton
    (previousButtonClicked)="onPrevClicked()"
  ></duckrulz-steps-buttons>
</form>
