<div class="page">
  <h2>Ajouter un nouvel évènement</h2>
  <form [formGroup]="form" (ngSubmit)="addNewEvent()">
    <p>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input
          matInput
          id="add-event-date"
          formControlName="date"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>

    <p>
      <label for="add-event-time">Heure : </label>
      <input type="time" id="add-event-time" formControlName="time" />
    </p>

    <p>
      <mat-form-field floatLabel="always">
        <mat-label>Durée (minutes)</mat-label>
        <input
          matInput
          id="add-event-duration"
          type="number"
          formControlName="durationMinutes"
        />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select
          id="add-event-type"
          formControlName="type"
          value="depression"
        >
          <mat-option id="add-event-type-anxiety" value="anxiety">{{
            anxietyTypeText()
          }}</mat-option>
          <mat-option id="add-event-type-depression" value="depression">{{
            depressionTypeText()
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p>
      <label
        >Degré d'inconfort : {{ thumb.value }}/{{ viewModel.maxLevel }}</label
      >
      <mat-slider
        id="add-event-level"
        min="{{ viewModel.minLevel }}"
        max="{{ viewModel.maxLevel }}"
        step="1"
        discrete
      >
        <input
          matSliderThumb
          id="add-event-level-thumb"
          #thumb
          formControlName="level"
        />
      </mat-slider>
    </p>

    <p>
      <mat-form-field floatLabel="always">
        <mat-label>Décrivez l'évènement</mat-label>
        <textarea
          matInput
          id="add-event-thoughts"
          placeholder="{{ viewModel.thoughtsPlaceholder }}"
          formControlName="thoughts"
        ></textarea>
      </mat-form-field>
    </p>

    <button
      class="submit-button"
      mat-raised-button
      color="primary"
      id="add-event-button"
      type="submit"
    >
      Ajouter l'évènement
    </button>
  </form>
</div>
