<duckrulz-info-card
  [title]="infosTitle"
  [descriptions]="infoDescriptions"
></duckrulz-info-card>

<br />

<h3>
  Je détermine les besoins qui ne sont pas satisfaits pour identifier les
  déclencheurs de ce type de situations :
</h3>

<form [formGroup]="form" (ngSubmit)="onNextClicked()">
  <div
    formArrayName="needsTypes"
    *ngFor="let order of needsTypesFormArray().controls; let i = index"
  >
    <mat-checkbox [formControlName]="i">{{ needsTypesData[i] }}</mat-checkbox>
  </div>

  <br />

  <duckrulz-therapy-card
    [descriptions]="therapyDescriptions"
  ></duckrulz-therapy-card>

  <br />

  <duckrulz-steps-buttons
    (previousButtonClicked)="onPrevClicked()"
  ></duckrulz-steps-buttons>
</form>
