<h1 class="mat-h1">Fonctionnalités :</h1>
<div>
  <button mat-raised-button [routerLink]="[addSituationRoute]">
    Traverser et analyser une situation difficile
  </button>
</div>

<br />

<div>
  <button mat-raised-button [routerLink]="[mySituationsRoute]">
    Mes situations
  </button>
</div>

<br />

<h1 class="mat-h1">Anciennes idées :</h1>
<div>
  <button mat-raised-button [routerLink]="[historyRoute]">
    <mat-icon>list</mat-icon>
    Historique
  </button>
</div>

<br />

<div>
  <button mat-raised-button [routerLink]="[addEventRoute]">
    <mat-icon>add</mat-icon>
    Ajouter un évènement
  </button>
</div>

<br />

<h1 class="mat-h1">A venir :</h1>

<ul>
  <li>Ma boîte à ressources</li>
  <li>Estimer mon niveau de perturbation</li>
  <li>Vue d'ensemble d'une situation</li>
  <li>Exporter une situation en PDF</li>
  <li>Lister, modifier mes situations</li>
  <li>Exporter / importer mes données</li>
  <li>Produire des statistiques basées sur mes situations</li>
  <li>Persistance des données et compte utilisateur</li>
</ul>
