<duckrulz-info-card
  [title]="infosTitle"
  [descriptions]="infoDescriptions"
></duckrulz-info-card>

<br />

<h3>
  Si il existe, j'indique l'événement ayant permis la sortie de la situation :
</h3>

<form [formGroup]="form" (ngSubmit)="onNextClicked()">
  <div>
    <mat-form-field floatLabel="always">
      <mat-label>Décrivez l'évènement</mat-label>
      <textarea
        matInput
        rows="10"
        cols="40"
        placeholder="Ex :
- j’étais dépressif à ne rien faire au chômage, avoir un travail m’a sorti de cet état
- j’étais anxieux à l’idée de faire cette conférence, mais finalement elle a été annulée"
        formControlName="event"
        required
      ></textarea>
    </mat-form-field>
  </div>

  <duckrulz-therapy-card
    [descriptions]="therapyDescriptions"
  ></duckrulz-therapy-card>

  <br />

  <duckrulz-steps-buttons
    displayIgnoreButton
    (previousButtonClicked)="onPrevClicked()"
    (ignoreButtonClicked)="onIgnoreClicked()"
  ></duckrulz-steps-buttons>
</form>
