mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

main {
  padding: 20px 10px 10px;
}

@media (min-width: 900px) {
  .content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
