<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <!--this is a place for us to add side-nav code-->
  </mat-sidenav>
  <mat-sidenav-content>
    <!--in here all the content must reside. We will add a navigation header as well-->
    <header>
      Personal Journey

      <a
        routerLink="/events/add"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >ADD</a
      >

      <a
        routerLink="/events/list"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >LIST</a
      >
    </header>
    <duckrulz-header></duckrulz-header>
    <main>
      <h1>Welcome !</h1>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
