<main>
  <header>
    <img
      ngSrc="../assets/logo.jpg"
      alt="PersonalJourney"
      height="880"
      width="880"
      priority=""
    />

    Personal Journey

    <a
      routerLink="/events/add"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >ADD</a
    >

    <a
      routerLink="/events/list"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >LIST</a
    >
  </header>
  <h1>Welcome !</h1>

  <router-outlet></router-outlet>
</main>
