<duckrulz-info-card
  [title]="infosTitle"
  [descriptions]="infoDescriptions"
></duckrulz-info-card>

<br />

<h3>J'identifie les types de pensées qui augmentent mon degré d'inconfort :</h3>

<form [formGroup]="form" (ngSubmit)="onNextClicked()">
  <div
    formArrayName="thoughtsTypes"
    *ngFor="let order of thoughtsTypesFormArray().controls; let i = index"
  >
    <mat-checkbox [formControlName]="i">{{
      thoughtsTypesData[i]
    }}</mat-checkbox>
  </div>

  <br />

  <duckrulz-therapy-card
    [descriptions]="therapyDescriptions"
  ></duckrulz-therapy-card>

  <br />

  <duckrulz-steps-buttons
    (previousButtonClicked)="onPrevClicked()"
  ></duckrulz-steps-buttons>
</form>
