<duckrulz-info-card
  [title]="infosTitle"
  [descriptions]="infoDescriptions"
></duckrulz-info-card>

<br />

<form [formGroup]="form" (ngSubmit)="onFinishClicked()">
  <div>
    <mat-form-field floatLabel="always">
      <mat-label>Durée (minutes)</mat-label>
      <input matInput type="number" formControlName="duration" required />
    </mat-form-field>
  </div>

  <br />

  <duckrulz-steps-buttons
    (previousButtonClicked)="onPrevClicked()"
    submitButtonText="Terminer l'analyse"
  ></duckrulz-steps-buttons>
</form>
